@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #__next {
    @apply flex flex-col min-h-full;
  }
  body {
    @apply bg-background text-paragraph;
  }
  .btn-submit {
    @apply w-max px-2 py-1 border border-button rounded-full text-center font-bold cursor-pointer text-button bg-buttonText transition-all duration-300 hover:border-buttonText hover:bg-button hover:text-buttonText;
  }
  .btn-disabled {
    @apply w-max p-2 border text-center font-bold cursor-not-allowed border-white text-white opacity-60 transition-all duration-200;
  }

  .btn-cancel {
    @apply w-max p-2  border text-center font-bold cursor-pointer border-white text-white button transition-colors duration-200;
  }

  .alert-msg {
    @apply bg-red-100 border border-red-400 text-red-700;
  }

  .alert-msg svg {
    @apply text-red-500;
  }

  .success-msg {
    @apply bg-green-100 border border-green-400 text-green-700;
  }
  .success-msg svg {
    @apply text-green-500;
  }

  .modal {
    @apply left-0 top-0 z-10 fixed flex bg-black bg-opacity-30 h-full w-full;
  }

  .modal-content {
    @apply overflow-auto select-none rounded-lg max-w-5xl max-h-full m-auto p-8;
  }
}

.navlink {
  position: relative;
}

.navlink::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ffc0ad;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.33s ease;
}

.navlink:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

body {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.vinyl-spinner {
  border: 2px solid #eb9bae;
  border-top-color: #d7385e;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
#modal-content {
  margin: 0 auto;
}
